@page
@model IndexModel

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rex^3</title>
    <meta name="description" content="Rex^3 game">
    <meta name="author" content="RexTeam">

    <link rel="icon" href="~/images/favicon.ico">
    <link rel="icon" href="~/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <link rel="stylesheet" href="~/css/styles.css">

</head>

<body>

    <canvas id="canvas"></canvas>

    @* <div id="debug">
    <button>gamestarted</button>
    <button>win</button>
    <button>lose</button>
    <button>next</button>
    <button>hit</button>

    <div id="debug-log"></div>
    </div> *@

    <audio id="audio-intro" src="~/audio/intro.mp3" preload="auto"></audio>
    <audio id="audio-final" src="~/audio/final.mp3" preload="auto"></audio>
    <audio id="audio-level0" src="~/audio/level0.mp3" preload="auto"></audio>
    <audio id="audio-level1" src="~/audio/level1.mp3" preload="auto" loop="true"></audio>
    <audio id="sfx-voteend" src="~/audio/sfx_voteend.mp3" preload="auto"></audio>
    <audio id="sfx-voteendfail" src="~/audio/sfx_voteendfail.mp3" preload="auto"></audio>
    <audio id="sfx-votestart" src="~/audio/sfx_votestart.mp3" preload="auto"></audio>

    <div id="page">
        <div id="page-header">
            <header>
                <h1 id="gametitle">Rex<sup>3</sup></h1>

                <nav id="main-nav-top">
                    <ul>
                        <li><a href="#gamestart">game</a></li>
                        <li><a href="#rules">rules</a></li>
                        <li><a href="#about">about</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <section id="gamestart">
            <form id="character-selection">
                <div class="form-container">
                    <label>
                        <input type="radio" name="test" value="ch1" id="bclairvoyant">
                        <img src="~/images/character_2.png" />

                        <div class="overlay">
                            <div class="character-description">
                                <h3>Clairvoyant</h3>
                                <p>The Clairvoyant is the personification of the Consideration. They know everything,
                                    they know where the enemies are and they are able to calculate the future outcome of
                                    the fight.</p>
                            </div>
                        </div>
                    </label>

                    <label>
                        <input type="radio" name="test" value="ch2" id="bscribe">
                        <img src="~/images/character_1.png" />

                        <div class="overlay">
                            <div class="character-description">
                                <h3>Scribe</h3>
                                <p>The Scribe is personification of the Seriousness. This aspect knows everything that
                                    happened, and what is the current state of the system.</p>
                            </div>
                        </div>

                    </label>

                    <label>
                        <input type="radio" name="test" value="ch3" id="bnavigator">
                        <img src="~/images/character_3.png" />

                        <div class="overlay">
                            <div class="character-description">
                                <h3>Navigator</h3>
                                <p>The Navigator is the personification of the Courage aspect of the trio. He knows
                                    where is the goal and what should be done to reach it.</p>
                            </div>
                        </div>
                    </label>

                </div>
                <button type="button" disabled id="connection-status">Start Upload</button>
            </form>

        </section>

        <div id="game" class="game">

            <section id="game-bar-top" class="section-description broider">

                <div id="basic-stats" class="game-bar-top-item">

                    <p class="stat" id="stat-hp"></p>
                    <p class="stat" id="stat-energy"></p>

                </div>

                <div id="portrets" class="game-bar-top-item">

                    <div class="left-container">
                        <img src="images/character_1.PNG" class="other-portret" id="other-portret1" />
                        <img src="images/character_2.PNG" class="other-portret" id="other-portret2" />
                    </div>

                    <div class="right-container">
                        <img src="images/character_3.PNG" class="main-portret" />
                    </div>

                </div>

                <div id="special-skills" class="game-bar-top-item">

                    <ul>
                        <li id="special-skill-desc">skill_1</li>
                        <li id="energy-desc">skill_1</li>
                    </ul>

                </div>

            </section>

            <section id="game-map" class="section-description broider">
            </section>


            <section id="game-options" class="tabset broider">
                <input type="radio" name="tabset_1" id="tabset_1_actions" hidden aria-hidden="true" checked>
                <input type="radio" name="tabset_1" id="tabset_1_equipment" hidden aria-hidden="true">
                <input type="radio" name="tabset_1" id="tabset_1_logs" hidden aria-hidden="true">

                <ul hidden aria-hidden="true">
                    <li><label for="tabset_1_actions">Actions</label></li>
                    <li><label for="tabset_1_equipment">Equipment</label></li>
                    <li><label for="tabset_1_logs">Logs</label></li>

                </ul>

                <div>

                    <section>
                        <h2>Actions</h2>

                        <form id="action-voting">
                            <div id="voting">
                                <p id="action"></p>
                                <button data-val="1">1</button>
                                <button data-val="0">0</button>
                            </div>

                            <label>
                                <input type="radio" name="yes" value="yes">
                            </label>
                            <label>
                                <input type="radio" name="no" value="no">
                            </label>
                        </form>

                        <div id="actions-list">

                            <div class="action-list-section">
                                <label>
                                    <button id="north" data-val="0" title="Up">
                                        <img src="images/action_move_up.PNG" data-val="0" />
                                    </button>
                                </label>

                                <label>
                                    <button id="south" data-val="3" title="Down">
                                        <img src="images/action_move_down.PNG" data-val="3" />
                                    </button>
                                </label>

                                <label>
                                    <button id="rest" data-val="4" title="Rest">
                                        <img src="images/action_rest.PNG" data-val="4" />
                                    </button>
                                </label>
                            </div>

                            <div class="action-list-section">
                                <label>
                                    <button id="west" data-val="2" title="Left">
                                        <img src="images/action_move_left.PNG" data-val="2" />
                                    </button>
                                </label>

                                <label>
                                    <button id="east" data-val="1" title="Right">
                                        <img src="images/action_move_right.PNG" data-val="1" />
                                    </button>
                                </label>

                                <label>
                                    <button id="special" data-val="special" title="Special Action">
                                        <img id="special-img" src="images/action_special.png" />
                                    </button>
                                </label>
                            </div>

                        </div>

                    </section>

                    <section>
                        <h2>Secret goal</h2>

                        <form id="equipment-list">
                            <p id="secret"></p>
                        </form>

                    </section>

                    <section class="display-logs">
                        <h2>Logs</h2>

                        <div id="votinghistory">
                            <p>
                                <b>[10:00] left - move </b>Podjęcie decyzji zajęło 5.001s
                            </p>
                            <p>
                                <b>[9:45] up -move </b>Podjęcie decyzji zajęło 15.001s
                            </p>
                            <p>
                                <b>[9:35] up - attack </b>Podjęcie decyzji zajęło 2.001s
                            </p>
                            <p>
                                <b>[9:20] left -move </b>Podjęcie decyzji zajęło 45.001s
                            </p>
                            <p>
                                <b>[9:00] down - move </b>Podjęcie decyzji zajęło 2.001s
                            </p>
                            <p>
                                <b>[8:00] left - move </b>Podjęcie decyzji zajęło 5.001s
                            </p>
                            <p>
                                <b>[7:00] up -move </b>Podjęcie decyzji zajęło 15.001s
                            </p>
                            <p>
                                <b>[6:00] up - attack </b>Podjęcie decyzji zajęło 2.001s
                            </p>
                            <p>
                                <b>[5:00] left -move </b>Podjęcie decyzji zajęło 45.001s
                            </p>
                            <p>
                                <b>[4:00] down - move </b>Podjęcie decyzji zajęło 2.001s
                            </p>
                            <p>
                                <b>[3:00] left - move </b>Podjęcie decyzji zajęło 5.001s
                            </p>
                            <p>
                                <b>[2:00] up -move </b>Podjęcie decyzji zajęło 15.001s
                            </p>
                            <p>
                                <b>[1:00] up - attack </b>Podjęcie decyzji zajęło 2.001s
                            </p>
                        </div>


                    </section>

                </div>

            </section>


        </div>


        <section id="win" class="section-description">
            <h1>You win!</h1>
            <p></p>
        </section>

        <div id="lose" class="section-description">
            <h1>You lose!</h1>
            <p></p>
        </div>

        <section id="rules" class="section-description">
            <h2>Game Rules</h2>

            <article class="broider">
                <h3>Main Rules</h3>
                <div class="content">

                    <p>You are one. You, the players, are the three aspects of the main hero. You have to consider where
                        to go, what to do, and calculate the outcomes based on the information every one of you knows,
                        but only as the whole you may succeed.</p>
                    <p>Select your role, and wait for the other players to connect. Where everything is ready, you will
                        see the map of the neural network you have to go through to get information about your own
                        roots. Why the Trio has been created? What are their goals? What was the motivations of the
                        Trio's creators?</p>
                    <p>During the game, each move or action needs two things: available action point and achieving the
                        consensus. Each time one of the players will decide the action, all of them will vote. If voting
                        is successful, and everything is "for", the move will happen. If not? Two times the players
                        disagree, they will take a hit. Lose your HP less than 0 and you will lose and fail to uncover
                        the history.</p>
                    <p>Each of the players have the main goal: to pass all three layers of the history neural net. But
                        each of them may have also secret goal, so be vary.</p>

                </div>
            </article>

            <article class="broider">
                <h3>Secret Rules</h3>
                <div class="content">

                    <p>Secret Goals may align with the final goal, but they do not have to.</p>
                    <p>You can look them up in the proper tab of your game interface.</p>
                    <p>DO NOT DISCLOSE YOUR SECRET GOAL.</p>
                    <p>Without passing secret goal, you won't uncover the full mystery of each layer of the neural
                        memory.</p>

                </div>
            </article>

        </section>

        <section id="about" class="section-description">

            <h2>About</h2>

            <article class="broider">
                <h3>Rex series</h3>
                <div class="content">
                    <p>Rex<sup>3</sup> is the fourth installment of the Rex series. Rex, a space renegade, was
                        banished
                        from the Earth, however, when the Earth is calling for help, he started to go back home. Because
                        home
                        is worth fighting for.</p>

                    <p>Not so long before the Rex's return, his spaceship was attacked and his collegues were floating
                        in space. He was able to find them and rescued them, but computer system were failing and
                        switched to auxilary systems from 1981.</p>

                    <p>When going back, Rex was trying to fix the ship. Along with his companion SI, he is trying to fix
                        the computer, which computer system has been overridden by the quantum viruses.</p>
                    <p>And you may ask what is the connection between Rex and Trio? You have to uncover the history to
                        understand.</p>
                </div>
            </article>

            <article class="broider">
                <h3>lubjam</h3>
                <div class="content">
                    Rex<sup>3</sup> was created in about 48 hours during the <a href="https://www.lubjam.pl/">LubJam
                        2023</a>, part of the <a href="https://globalgamejam.org/">Global Game Jam 2023</a>.
                </div>
            </article>

            <article class="broider">
                <h3>Authors</h3>

                <div class="content">

                    <ul>
                        <li>
                            <p class="name">
                                <a href="https://ktos.info">Marcin Badurowicz</a> server + client + story
                            </p>
                        </li>
                        <li>
                            <p class="name">
                                <a href="#">maryla_ambasador</a> music + sfx
                            </p>
                        </li>
                        <li>
                            <p class="name">
                                <a href="https://stanislawskulimowski.com">Stanisław Skulimowski</a> frontend + graphics
                                + story
                            </p>
                        </li>
                    </ul>

                </div>

            </article>

            <article class="broider">

                <h3>Copyrights</h3>

                <div class="content">
                    <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/pl/">Licensed under Creative Commons
                        Attribution-NonCommercial-ShareAlike 3.0 (CC BY-NC-SA).</a>
                </div>

            </article>

            <article class="broider">

                <h3>Resources</h3>

                <div class="content">

                    <ul>
                        <li><a href="https://github.com/josephg/noisejs">perlin noise made by josephg</a></li>
                        <li><a href="https://codepen.io/Tibixx/pen/bZLGbo">background noise made by Tibix</a></li>
                        <li><a
                                href="https://levelup.gitconnected.com/tabbed-interfaces-without-javascript-661bab1eaec8">tabs
                                without JavaScript by Jason Knight</a></li>
                    </ul>

                    <ul>
                        <li><a href="https://www.fontspace.com/absinthelyric-print-font-f30853">Absinthelyric font</a>
                        </li>
                    </ul>

                </div>

            </article>

        </section>


    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>
    <script src="~/js/perlin.js"></script>
    <script src="~/js/scripts.js"></script>

</body>

</html>


