@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="win">
    <h1>You win!</h1>
    <h2></h2>
</div>

<div id="lose">
    <h1>You lose!</h1>
    <h2></h2>
</div>

<div id="role">
    <button id="bclairvoyant">Clairvoyant</button>
    <button id="bscribe">Scribe</button>
    <button id="bnavigator">Navigator</button>
</div>

<div id="debug" class="col-6">
    <button>gamestarted</button>
    <button>win</button>
    <button>lose</button>
    <button>next</button>
    <button>hit</button>

    <div id="debug-log"></div>
</div>

<div class="container" id="main">
    <div class="row p-1">
        <div class="col-6 text-end">
            <button class="action" data-val="0" id="north">North</button>
            <button class="action" data-val="1" id="east">East</button>
            <button class="action" data-val="2" id="west">West</button>
            <button class="action" data-val="3" id="south">South</button>
            <button class="action" data-val="4" id="rest">Rest</button>
        </div>

        <div id="voting">
            <p id="action"></p>
            <button data-val="1">Yes</button>
            <button data-val="0">No</button>
        </div>
    </div>
    <div class="row p-1">
        <div id="map" class="col-6">
        </div>
    </div>



    <div id="votinghistory"></div>

    <div id="secret">
    </div>

    <div id="scribe">

    </div>



</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>