@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div id="debug">
        <select id="userInput">
            <option>clairvoyant</option>
            <option>scribe</option>
            <option>navigator</option>
        </select>

        <button>gamestarted</button>
    </div>
    
    <div class="row p-1">
        <div class="col-6 text-end">
            <button class="action" data-val="0" id="north">North</button>
            <button class="action" data-val="1" id="east">East</button>
            <button class="action" data-val="2" id="west">West</button>
            <button class="action" data-val="3" id="south">South</button>
            <button class="action" data-val="4" id="rest">Rest</button>
        </div>
    </div>

    <div id="voting">
        <p id="action"></p>
        <button data-val="1">Yes</button>
        <button data-val="0">No</button>
    </div>

    <div id="votinghistory"></div>

    <div id="secret">
    </div>

    <div id="scribe">

    </div>

    <div id="map">
    </div>

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>